.bullets { 
    font-size: 5vw;
    font-weight: bold;
    list-style-type: circle;
  }

  .numbers {
    color:red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5vw;
    list-style-type: upper-roman;
  } 
